/* table */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.container{
  width: 90%;
  max-width: 1440px;
  margin: 5% auto;
}

/* filter box */

.filterContainer{
  border: 1px solid #dddddd;
  margin: 10px 0 35px 0;
  padding: 10px;
  width: 70%;
}

.filterdiv{
  display: flex;
  align-items: center;
}

.filterdiv div{
  padding: 1%;
  width: 70%;
}

.filterdiv div input{
  padding: 1%;
  height: 24px;
  width: 100%;
}

.filterdiv div select{
  padding: 1%;
  height: 30px;
  width: 100%;
}

.filterWhere{
  width: 30% !important;
}

.addFilter{
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
}

.addFilter:hover,.reload:hover{
  background-color: #dddddd;
}

.reload{
  border: 1px solid rgb(170, 170, 170);
  width: 60px;
  height: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
}

.reloadBack{
  border: 1px solid white !important;
}

.clrTic{
  color: green;
  font-weight: 600;
}

.clrCross{
  color: red;
  font-weight: 600;
}